@media only screen and (min-width: 600px) {

    body {

        background-image: url(../images/mediumbackground.jpg);
    }

    header{
        background-image: url(../images/banner.jpg);
    }

    nav button {
        display: none;
    }

    section.forecast {

        display: contents;
        text-align: center;

    }

    table,
    th,
    td {

        background-color:black;
        border: 2px solid mediumpurple;
        color: white;
        padding: 5px;
        font-size: 12pt;
    }



    nav ul{
        font-size: 17pt;
        text-align: center;
        align-content: center;
        margin-left: 2%;

    }

    nav ul.hide{
        display: block;
    }

    nav ul li{
        float: left;
        border-right: solid 1px rebeccapurple;

    }

    nav ul li a{
        border: none;
        padding: 2px;

    }



}
