html {

    background-image: url(../images/smallbackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body {

    font-size: 20px;
    font-family: 'Spectral', serif;
    color: white;

}

header,
nav,
main,
footer {
    max-width: 1890px;
    padding: 5px;
}

header {

    background-image: url(../images/smallbanner.jpg);
    height: 246px;
    background-size: 100%;
    background-repeat: no-repeat;
}



nav {

    border-style: solid;
    border-width: 2px;
    border-color: mediumpurple;
    background-color: black;
    margin-top: 5px;
}

nav button {
    background-color: transparent;
    border: none;
    margin: 2px;
    font-size: 44px;
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 20pt;
}

nav ul.hide {
    display: none;
}

nav ul li a {
    display: flex;
    padding: 8px;
    text-decoration: none;
    border-top: 1px solid mediumpurple;
}

nav a {
    color: white;
}

nav a.visited {
    color: purple;
}

nav li.active {
    background-color: purple;

}

nav a:hover {
    background-color: rebeccapurple;
}



main {

    padding-top: 10px;
}


.weather-summary {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}



footer {

    /*display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 9pt;
    border: solid 1px mediumpurple;*/

    display: grid;
    font-size: 9pt;
    grid-template-columns: 350px;
    grid-template-rows: 30px 30px;
    align-items: center;
    justify-content: center;
    border: solid 1px mediumpurple;
    padding: 0px;
    height: 60px;

}

h1,
h2,
h3,
h4,
h5 {

    color: skyblue;
}



#franklinReport {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12pt;
}

.pictureArticle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

section.forecast {

    display: none;
}
