@media only screen and (min-width: 600px) {

    html {

        background-image: url(../images/mediumbackground.jpg);
    }

    header {
        background-image: url(../images/banner.jpg);
    }

    #primaryNav {
        display: flex;
        justify-content: space-between;
    }

    nav button {
        display: none;
    }


    nav ul {
        font-size: 13.4pt;
    }

    nav ul li {
        border-left: solid 1px rebeccapurple;
        border-right: solid 1px rebeccapurple;
    }

    nav ul li a {
        border: none;
        padding: 9px;

    }



    section.forecast {

        display: flex;
        flex-direction: column;
        align-items: center;

    }

    #tenForecast{
        max-width: 400px;
    }

    table,
    th,
    td {

        background-color: black;
        border: 2px solid mediumpurple;
        color: white;
        padding: 5px;
        font-size: 12pt;
    }

    #pictures {
        display: grid;
        grid-template-columns: .5fr .5fr;
        grid-gap: 50px;
        margin-top: 30px;
        margin-bottom: 30px;

    }

    #pictureArticle {
        padding: 50px;
    }

}
