@media only screen and (min-width: 1024px) {


    html {

        background-image: url(../images/largebackground.jpg);
    }

    header {
        background-image: url(../images/bannertest.jpg)
    }

    #mainmenu {
        display: flex;
        justify-content: space-around;

    }


    nav ul {
        font-size: 14pt;

    }

    nav ul li {
        border-left: solid 2px rebeccapurple;
        border-right: solid 2px rebeccapurple;

    }

    nav ul li a {
        display: flex;
        justify-content: center;
        width: 150px;
    }

    #test {
        display: flex;
        justify-content: space-around;
    }

    .weather-summary{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 1000px;
        margin: auto;
    }

    .report{
        width: 1000px;
    }

    /*Home*/
    #townArticles {

        display: grid;
        grid-template-columns: 400px 400px 400px;
        justify-content: center;
        grid-gap: 100px;
        margin-top: 20px;


    }

    #springfield {
        grid-column: span 1;
        width: 400px;

    }

   .townArticle {
        width: 400px;
    }

    #story {
        margin: auto;
    }

    /*Franklin*/
    /*Gallery*/
    #pictures {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }

    .pictureArticle:hover {
        box-shadow: inset 0px 0px 400px skyblue;
        border-radius: 25px;
    }


    /*Storm Center*/
    form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

    }





}
